<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Project Guides</title>
    <link rel="stylesheet" type="text/css" href="{{ "/static/style.css" | absolute_url }}">
</head>
<body>

    <nav class="sidebar">
        <h2>Explore</h2>
        <ul>
            <li><a href="{{ "/" | absolute_url }}">index.html</a></li>
            <li><a href="{{ "/base/export.html" | absolute_url }}">Data Storage Guide</a></li>
            <li><a href="{{ "/base/software.html" | absolute_url }}">Software</a></li>
        </ul>
    </nav>

    <div class="page-wrapper">
        
        <header>
            <h1>AMT Data Management</h1>
        </header>

        <main class="content">
            {{ content }}        
        </main>

        <footer>
            <p><a href="https://github.com/Applied-Materials-Technology/data-storage-guide/tree/main">Source code</a></p>
            <p>2025</p>
        </footer>

    </div> </body>
</html>