<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/static/maincss.css">
<link rel="stylesheet" type="text/css" href="{{ "/static/maincss.css" | absolute_url }}">
<head>
  <title>{{ page.title }}</title>
</head>
<body>



<div class="content">
{{ content }}
</div>


<div class="sidenav">
  <h1><a class="biglink" href="/data-storage-guide/index.html">Data Storage</a></h1>
  <a class="smalllink" href="/data-storage-guide/base/general.html">General Guidelines</a>
  <a class="smalllink" href="/data-storage-guide/base/dicexport.html">DIC Data Guide</a>
  </span>
</div>


</body>
</html>